<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--ConnectionString Details-->
  <connectionStrings>
    <clear/>
    <!-- <add name="Default" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Skandia-Software\Visual Studio 2017\Projects\OMiPAY-Validator-DB\PlayingWithControls\DB\OMiPAYValidator.accdb" /> -->
    <add name="Default" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\WLombard\Documents\Visual Studio 2019\Projects\CMoS_FileStubber\CMoS_FileStubber\DB\OMiPAYValidator.accdb" />
  </connectionStrings>
</configuration>